# Ignore Python virtual environment
venv228/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model weights and logs
*.pt
*.log

# Ignore macOS system files
.DS_Store

models/train/
